*{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    border-radius: 10px;
    color: white;
}

body {
    margin: 0; 
    min-height: 100vh; 
    background: linear-gradient(#00008B, #000000);
}


.main-container{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    flex-direction: column;
    align-items:center;
    

}

.gameChoicesContainer{

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

.gameChoicesContainer div{

    padding: 20px;
    width: 180px;
    height: 180px;
    border: 3px solid black;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.gameChoicesContainer div:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  }

#rock{

    background-image: url(images/rock.webp);
    background-size: cover;
    background-position: center;
}

#paper{

    background-image: url(images/paper.jpeg);
    background-size: cover;
    background-position: center;
}

#scissors{

    background-image: url(images/scissors.webp);
    background-size: cover;
    background-position: center;
}


.scoreBoard span{
    margin: 20px;
    font-size: 25px;
    font-weight:400; 
}



.scoreBoard{
    margin: 20px;
    background-color:rgb(43, 27, 193);
    padding: 5px;
    border: 5px solid rgb(13, 154, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}



.resetButton{
    height: 50px;
    width: 150px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: #12005a;
    text-align: center;
}

.resetButton:hover{

    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.gameTrackStyle{
    padding: 20px;
    border: 5px solid rgb(168, 6, 171);
    background-color:#55046d;
    font-style: oblique;
}